{# templates/admin/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Interface d'administration</title>
</head>
<body>
<h1>Bienvenue dans l'interface d'administration</h1>
{# Ajoutez ici le contenu de votre page d'administration #}
<h2>Upload CSV au format suivant : email, nom, prenom</h2>
{{ form_start(form) }}
{{ form_widget(form) }}
<button id="submit" type="submit">Upload</button>
{{ form_end(form) }}

{% for message in app.session.flashBag.get('success') %}
   <p class="flash" style="color:green">{{ message }}</p>
{% endfor %}
</body>
</html>
